﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vista/MasterPages/SiteGeneral.Master" AutoEventWireup="true" CodeBehind="ReportesUrgencia.aspx.cs" Inherits="RegistroClinico.Vista.ModuloReportes.VistaReportesUrgencia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="Content" runat="server">
    
    <script src="<%= ResolveClientUrl("~/Script/ModuloReportes/ReportesUrgencia.js") + "?" + GetVersion() %>"></script>

</asp:Content>
