﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Impresion.master.cs" Inherits="RegistroClinico.Vista.MasterPages.Impresion" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html>

<html>
<head runat="server">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    
    <link href="<%= GetHost() %>/Style/Bootstrap_3_3_7/bootstrap.min.css"rel="stylesheet" />
    <link href="<%= GetHost() %>/Style/impresion.css?<%= DateTime.Now.ToString("yyyyMMddHHmmss") %>"rel="stylesheet" />
    
    <script type="text/javascript" src="<%= GetHost() %>/Script/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="<%= GetHost() %>/Script/Bootstrap_3_3_7/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= GetHost() %>/Script/Funciones.js?<%= DateTime.Now.ToString("yyyyMMddHHmmss") %>"></script>
    
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="MainForm" runat="server">
        <div>
            <asp:ToolkitScriptManager runat="server" EnableScriptGlobalization="true">
            </asp:ToolkitScriptManager>
            <asp:ContentPlaceHolder ID="Content" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>