@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

.main-wrapper {
        border-radius: 4px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
}

a.material-icons {
        font-size: 1rem;
        color: white;
        position: relative;
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

a.material-icons.active{
    background-color: #3b4865 !important;
    cursor: pointer;
    box-shadow: none;
}

a.material-icons:nth-of-type(1) {
        background-color: #8897b9;
}

a.material-icons:nth-of-type(1):hover {
    color: white;
}

a.material-icons:nth-of-type(2) {
        background-color: #ec9f83;
}

a.material-icons:hover {
        background-color: #223b49;
        cursor: pointer;
        box-shadow: none;
}


@media (min-width:601px) {
    a.material-icons {
        padding:10px;
        font-size:15;
        font-style:normal;
    }
}

@media (min-width:993px) {
    a.material-icons {
        padding:20px;
        font-size:15;
        font-style:normal;
    }
    a.material-icons:after {
        border-width:3px;
        top:0px;
        left:0px;
    }
}
.nav-refresh {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}