﻿
td {
    font-size: 13px !important;
    border: solid 1px black;
}

table {
    border-spacing: 0;
}

.cabecera {
    font-weight: bold;
    width: 100%;
    border-spacing: 0;
}

.estilo-titulo {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1 !important;
    color: black;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.estilo-subtitulo {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1 !important;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.texto-negrita {
    font-weight: bold;
}

.fondo-titulos {
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1 !important;
    font-weight: bold;
}

.contenido-celda {
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenido-detalle {
    border: 1px solid black;
}

h2 {
    text-align: center;
}

.cell-title {
    font-weight: bold;
    background-color: #f1f1f1;
}

.row {
    margin: 0px !important;
    padding: 0px !important;
}

.row-extend {
    display: table;
}

.row-extend .col-xs-1, .row-extend .col-xs-2, .row-extend .col-xs-3, .row-extend .col-xs-4, .row-extend .col-xs-5, .row-extend .col-xs-6,
.row-extend .col-xs-7, .row-extend .col-xs-8, .row-extend .col-xs-9, .row-extend .col-xs-10, .row-extend .col-xs-11, .row-extend .col-xs-12 {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 15px; }
.mt-4 { margin-top: 20px; }
.mt-5 { margin-top: 25px; }
.mr-1 { margin-right: 5px; }
.mr-2 { margin-right: 10px; }
.mr-3 { margin-right: 15px; }
.mr-4 { margin-right: 20px; }
.mr-5 { margin-right: 25px; }
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }
.ml-1 { margin-left: 5px; }
.ml-2 { margin-left: 10px; }
.ml-3 { margin-left: 15px; }
.ml-4 { margin-left: 20px; }
.ml-5 { margin-left: 25px; }
.pt-1 { padding-top: 5px; }
.pt-2 { padding-top: 10px; }
.pt-3 { padding-top: 15px; }
.pt-4 { padding-top: 20px; }
.pt-5 { padding-top: 25px; }
.pr-1 { padding-right: 5px; }
.pr-2 { padding-right: 10px; }
.pr-3 { padding-right: 15px; }
.pr-4 { padding-right: 20px; }
.pr-5 { padding-right: 25px; }
.pb-1 { padding-bottom: 5px; }
.pb-2 { padding-bottom: 10px; }
.pb-3 { padding-bottom: 15px; }
.pb-4 { padding-bottom: 20px; }
.pb-5 { padding-bottom: 25px; }
.pl-1 { padding-left: 5px; }
.pl-2 { padding-left: 10px; }
.pl-3 { padding-left: 15px; }
.pl-4 { padding-left: 20px; }
.pl-5 { padding-left: 25px; }
.p-1 { padding: 5px 5px 5px 5px !important;}
.p-2 { padding: 10px 10px 10px 10px !important; }
.p-3 { padding: 15px 15px 15px 15px !important; }
.p-4 { padding: 20px 20px 20px 20px !important; }
.p-5 { padding: 25px 25px 25px 25px !important; }

.col-td-1 {width: 80.25px !important;}
.col-td-2 {width: 160.5px !important;}
.col-td-3 {width: 240.75px !important;}
.col-td-4 {width: 321px !important;}
.col-td-5 {width: 401.25px !important;}
.col-td-6 {width: 481.5px !important;}
.col-td-7 {width: 561.75px !important;}
.col-td-8 {width: 642px !important;}
.col-td-9 {width: 722.25px !important;}
.col-td-10 {width: 802.5px !important;}
.col-td-11 {width: 882.75px !important;}
.col-td-12 {width: 963px !important;} 

/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    font-size: 13px !important;
    border: 1px solid #313131;
    padding: 5px;
    margin: 0px;
}*/