﻿
/***** HEADERS *****/

/*.header {
    margin-top: 15px;
    margin-bottom: 0px !important;
    border-bottom: 5px solid #1b1c1d;
}*/

/***** FINAL HEADERS *****/
/***** BODY *****/

body {
    background: url("../Style/IMG/back.jpg") repeat scroll left top transparent !important;
}

body .content {
    background-color:#fbfbfb;
}

.body-info-user {
    padding: 10px 5px 5px 5px !important;
}

.body-name-user {
    margin-top: 5px !important;
}

.text-black {
    color: black !important; 
}

.img-logo {
    margin-left: 0px !important;
    opacity: .8;
}

.w-1 {
    width: 1px !important;
} 

.nav-item .nav-logo {
    color: #dddddd !important;
    transition: color 1s ease-in-out;
    font-weight: bold !important;
    font-size: 15pt;
}

.nav-item .nav-logo:hover {
    color: #fff !important;
}

.footer-info-user {
    padding: 5px 5px 5px 5px !important;
}
.center-horizontal, .center-vertical,
.center-horizontal-vertical {
    display: flex;
    flex-direction: row;
}

.center-horizontal-vertical {
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    justify-content: center;
}

.center-horizontal > *, .center-horizontal-vertical > *,
.center-vertical > * {
    margin-right: 5px;
    margin-left: 5px;
}

.center-vertical {
    align-items: center;
}

/***** FINAL BODY *****/

/***** FOOTER *****/

.main-footer .footer-body ul {
    margin-bottom: 0px !important;
}

/***** FINAL FOOTER *****/

.login {
    margin: 20px 10px 20px 10px;
}

/***************NAV BAR***********/
.view {
    background: url("img/img.jpg") no-repeat center center;
    background-size: cover;
    height: 250px;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

/*********************************/

/**********************MODAL HEADER COLOR**********************/

.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/**********************MODAL HEADER COLOR**********************/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}

/********************ACORDEÓN HORIZONTAL*****************/
.collapse {
    visibility: hidden;
}

.collapse.show {
    visibility: visible;
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}

/********************ACORDEÓN HORIZONTAL*****************/

/* AutoComplete highlighted item */

.autocomplete_completionListElement {
    margin: 0px !important;
    z-index: 99999 !important;
    background-color: ivory;
    color: windowtext;
    border: buttonshadow;
    border-style: solid;
    cursor: default;
    overflow: auto;
    text-align: left;
    left: 0px;
    list-style-type: none;
}
/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    z-index: 99999 !important;
    background-color: #ffff99;
    color: black;
    cursor: pointer;
}

/* AutoComplete item */

.autocomplete_listItem {
    z-index: 99999 !important;
    background-color: window;
    color: windowtext;
    cursor: pointer;
}

/***********************************/

/**************** MODAL CARGANDO ******************/

.cargando {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: White;
    cursor: wait;
    z-index: 21474;
}

.cargando .texto {
    font-size: 30px;
}

/**************** FINAL MODAL CARGANDO ******************/

/**************** MODAL IMPRESIÓN ******************/

.modal-print .modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.modal-print .modal-dialog .modal-content {
    height: 100%;
}

.modal-print .modal-dialog .modal-content 
.modal-header {
    max-height: 50px;
    padding: 10px 15px 10px 15px;
}

.modal-print .modal-dialog .modal-content 
.modal-body {
    padding: 0px;
}

.modal-print .modal-dialog .modal-content 
.modal-body .modal-body-print {
    height: 100% !important;
    position: absolute;
}

.modal-print .modal-dialog .modal-content 
.modal-body .modal-body-print iframe {
    width: 100vw;
    height: 100%;
    position: relative;
}

.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.modal-dialog-full-width .modal-content,
.modal-dialog-full-width .modal-content .modal-body {
    width: 100vw;
}

/**************** FINAL MODAL IMPRESIÓN ******************/

.color-error, .color-success {
    font-weight: bold;
} 

.color-error {
    color: red;
}

.color-success {
    color: green;
}


.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.no-height {
    height: auto !important;
}

input[disabled="disabled"], select[disabled="disabled"],
input.disabled, select.disabled, textarea[disabled="disabled"] {
    background-color: #eeeeee !important;
    cursor: no-drop !important;
}

/*clases para los dropdown*/

.btn-md {
    padding: 0.5rem 1rem !important;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.dropdown-toggle::after {
    text-align: right;
    float: right;
    font-size:20px;
    margin-top: 4px;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-menu{
    overflow-y:scroll;
    max-height:300px;
}

.btn {
    z-index: 0; /*?*/
}

button.invalid, input.invalid-input,
textarea.invalid-input, div.invalid-input {
    border: red 1px solid !important;
}

span.invalid-input {
    color: red;
}

.row-success {
    background-color: #DFF0D8;
}

.redondo {
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    width: 25px;
    height: 25px;
}

.leyenda {
    margin-top: 10px;
}

.textboxio-invalid {
    border: 3px solid red !important;
}

/*estilo tab de semantic*/

.ui.tabular.menu .active.item {
    background: none #17a2b8 !important;
    color: rgb(242, 242, 242) !important;
    border-top: #005a68 3px solid !important;
}

.ui.tabular.menu :not(.active).item {
    background: none #f2f2f2 !important;
    color: rgb(23, 162, 184) !important;
}

.ui.tabular.menu {
    cursor: pointer !important;
}

.arrowright.active {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

.cama {
    background-color: lightyellow;
    border-radius: 20%;
    cursor: pointer;
    max-width: 40px;
    position: relative;
}

.cama i {
    position: absolute;
    z-index: 3;
    /*left: 23%;*/
    top: 47%;
    color: black;
    font-size: 25px;
}

.disponible i {
    left: 19%;
}

.sin-estado i {
    left: 19%;
}

.bloqueada, .disponible, .ocupada, .sin-estado {
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    color: black;
}

.badge-bloqueada {
    background-color: #bebebe !important;
    color: black !important;
}

.bloqueada {
    background-color: #d5d5d5 !important;
    /*filter: blur(0.8px);*/
}

.bloqueada:hover {
    background-color: #c3c0c0 !important;
}

.bloqueada i {
    left: 21% !important;
}

/*.bloqueada, */ .card-bloqueada .card-header {
    background-color: #e9e9e9 !important;
}

/*.bloqueada:hover {
    background-color: #b4b4b4 !important;
}*/

.disponible, .badge-disponible, .card-disponible .card-header {
    background-color: #ccffcc !important;
}

.disponible:hover {
    background-color: #abd4ab !important;
}

.badge-ocupada {
    background-color: #fff775 !important;
    color: black !important;
}

.ocupada, .card-ocupada .card-header {
    background-color: #f7f4c4 !important;
}

.ocupada:hover {
    background-color: #d4d2aa !important;
}

.sin-estado, .deshabilitada, .badge-deshabilitada {
    background-color: #ffffff !important;
}

.badge-deshabilitada {
    color: black !important;
}

.sin-estado:hover {
    background-color: #eaeaea !important;
}

.deshabilitada i {
    left: 20%;
}

.deshabilitada img, .deshabilitada i {
    filter: opacity(45%);
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.deshabilitada:hover img, .deshabilitada:hover i {
    filter: opacity(100%) !important;
}

.card-sin-estado .card-header {
    background-color: #d0d0d0 !important;
}

.card-bloqueada .card-header {
    color: black;
}

.card-disponible .card-header {
    color: black;
}

.card-ocupada .card-header {
    color: black;
}

.ocupada i {
    left: 19% !important;
}

:not(body)::-webkit-scrollbar {
    display: none;
}
/*Animacion de agitar elemento*/
.icon-info {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*Animacion que mueve deerecha izquierda*/
.randl {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation-name: right-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cama-a.camaSeleccionada, .cama-a.camaHoverSeleccionada {
    animation: camaSelect .3s linear alternate infinite;
    animation-play-state: running;
}

.cama-a.cama-no-Seleccionada {
    animation-name: none;
}

.background-popover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1060 !important;
    background-color: rgba(0,0,0,0.3);
}
/* Animación para agitar un elemento*/
@keyframes shake {
    2%, 18% {
        transform: translate3d(-5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(5px, 0, 0);
    }

    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}
@keyframes right-left {
    20% {
        transform: translate3d(-5px, 0, 0);
    }

    40% {
        transform: translate3d(5px, 0, 0);
    }

    60%{
        transform: translate3d(-5px, 0, 0);
    }

    80%{
        transform: translate3d(5px, 0, 0);
    }

    100% {
        transform: translate3d(0px, 0, 0);
    }
}
@keyframes camaSelect {
    
    0% {
        transform: translate3d(0,0%,0);
    }

    40% {
        transform: translate3d(0,7%,0);
    }

    100% {
        transform: translate3d(0,15%,0);
    }

}

.bootstrapSwitch-invalid {
    border: 2px solid red;
    display: inline-block;
}

.alert-obligatorios {
    position: relative !important;
    display: none;
    width: 500px !important;
    background-color: #d9534f !important;
    color: white !important;
}

.row label {
    font-weight: 500 !important;
    color: darkslategrey;
}

.modal-xlg {
    min-width: 1200px;
}

.popover.clockpicker-popover {
    z-index: 1064 !important;
}


fr-dt-vertical-center {
    vertical-align: middle;
}

table.dataTable tbody td {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    max-width: 250px;
}

table.dataTable thead tr th {
    white-space: nowrap;
}

#tblBandeja {
    width: 100% !important;
}

td {
    font-size: 15px !important;
}

.modal-fluid{
    min-width:100%;
    max-width:100%;
    width:100%;
}

.small-box .icon.customForPACMenu > i {
    position: relative;
    right: 0px;
    top: 0px;
}

.small-box.bg-info.customForPACMenu {
    padding: 10px 10px 1px 6px;
    margin: 0px;
    border-radius: 0px;
}
.small-box.bg-secondary.customForPACMenu {
    padding: 10px 10px 1px 6px;
    margin: 0px;
    border-radius: 0px;
}

/**** MODAL ****/

.modal-lg-w-100 {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

/*Botonera*/

/*NECESARIO PARA ALINEAR LA BOTONERA >:)*/
table .dataTable tbody td {
    vertical-align: central !important;
    position: relative !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
}

.btn-circle-pretty-small {
    width: 20px;
    height: 20px;
    padding: 0px 0px !important;
    border-radius: 10px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.6 !important;
}

.btn-circle-medium {
    width: 40px;
    height: 40px;
    padding: 8px 0px !important;
    border-radius: 20px !important;
    text-align: center !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
}

.btn-container {
    width: 74px;
    position: absolute;
    left: 50%;
    margin-left: -37.5px;
    z-index: 1;
}

.btn-container-resp {
    position: relative;
}

.rounded-actions {
    background-color: #dee2e6;
    padding-top: 10px;
    border-radius: 30px;
    border-color: #007bff;
    border-style: solid;
    border-width: 3px;
    width: inherit;
}

.rounded-actions br {
    display: block;
    content: "";
    margin-top: -10px;
}

.rounded-actions .btn-circle {
    width: 45px;
    height: 45px;
    padding: 10px 0px !important;
    font-size: 20px !important; /*15 px*/
    line-height: 1.3 !important;
    border-radius: 25px !important;
    margin-bottom: 15px;
}

.rounded-actions-resp .btn-circle {
    width: 45px;
    height: 45px;
    padding: 12px 0px !important;
    font-size: 15px !important;
    line-height: 1.33 !important;
    border-radius: 25px !important;
    margin-bottom: 15px;
    border-style: none !important;
}

.btn-exportar:focus {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-exportar:active {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

/* Fin Botonera */

/* Botonera de atención clínica */

.btn-atencion-clinica {
    border: 1px solid #282828;
    background-color: #f3f3f3;
    color: black !important;
    min-width: 280px;
}

.btn-atencion-clinica .nav-link span {
    font-size: large;
}

.btn-atencion-clinica {
    border: 1px solid #727272;
    min-width: 280px;
    cursor: pointer;
}

.btn-atencion-clinica span {
    font-size: large;
}

.btn-atencion-clinica.default:hover {
    color: #007bff !important;
    border-color: #007bff;
    background-color: #fff !important;
}

.btn-atencion-clinica.default {
    background-color: #f3f3f3;
    color: #727272 !important;
}

/*.btn-atencion-clinica.success:hover {
    color: #28a745 !important;
    border-color: #28a745;
    background-color: #f3f3f3 !important;
}*/

.btn-atencion-clinica.success {
    background-color: #28a745;
    color: #fff !important;
}

.btn-atencion-clinica.warning {
    background-color: #fff3cd;
    color: #856404 !important;
}

/* Fin Botonera de atención clínica */

.border-dark {
    border: 1px solid #707070 !important;
}

.form-control-no-height {
    height: initial !important;
    white-space: pre-line;
}

.show-more,
.show-less {
    padding: 10px 10px 55px 10px;
}

.show-less {
    max-height: none;
}

.show-more {
    max-height: 400px;
    overflow: hidden;
}

.show-less .show-more-body,
.show-more .show-more-body {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    background-color: rgba(0,0,0,.2);
}

/* Cargarndo Componente */
.componente-cargando {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(255,255,255,0.9);
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.alert-container {
    position: fixed !important;
    top: 10px !important;
    left: 50% !important;
    margin-left: -200px !important;
    z-index: 1000 !important;
}

.alert-formato {
    position: relative !important;
    display: none;
    width: 500px !important;
    background-color: #ffc107 !important;
    color: white !important;
}

.alert-hospitalizacion-activa {
    position: relative !important;
    display: none;
    width: 500px !important;
    background-color: #ffc107 !important;
}

.invalid-format {
    border: #ffc107 2px solid !important;
}

.rce-tray-id::before {
    content: "# ";
}